services:
  backend:
    build:
      context: backend/.
      dockerfile: Dockerfile
    ports:
      - "12344:8000"
    env_file: .env
    restart: unless-stopped
    depends_on:
      - db

  frontend:
    build:
      context: frontend/.
      dockerfile: Dockerfile
    ports:
      - "12345:3000"
    env_file: .env
    restart: unless-stopped
    depends_on:
      - backend

  db:
    image: postgres:18
    environment:
      - POSTGRES_DB=${POSTGRES_DATABASE}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - budget_postgres_data:/var/lib/postgresql
    ports:
      - "${POSTGRES_PORT}:5432"
    restart: unless-stopped

volumes:
  budget_postgres_data: